[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
flask = "*"
waitress = "*"
requests = "*"
gunicorn = "*"
numpy = "*"
Pillow = "*"
tflite-runtime = "*"

[dev-packages]
tensorflow = "==2.16.1"
ipykernel = "*"
matplotlib = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
